body{
	background-color: #EDEAE3;
	margin: 0; font-family: 'Pompiere';
}
a{
	text-decoration: none;
	color: black;
}
/*Header*/
.contact_book-header{
	padding-left: 550px;
}
.contact_book-header{
	border-bottom: 1px solid black; box-shadow: 3px 3px 3px;
}
.header-menu ul{
	display: flex; flex-direction: row;font-size: 24px; list-style: none; padding-left: 0px;
}	
.header-menu li{
	cursor: pointer;
}
.header-menu ul a{
	margin-right: 30px;
}

/*Contact Form*/
.contact_book-content{
	margin-top: 40px; padding-left: 550px;
}
.contact_form{
	display: inline-block;
}
.contact_form ul li{
	display: block;
	margin-bottom: 30px;
	font-size: 22px;
}
.contact_form ul{
	padding: 0;
}
.contact_form input{
	display: flex; flex-direction: row; justify-content: space-around; width: 200px; height: 20px; outline: none;

}
#contact_form-submit{
	width: 100px !important;
	margin: auto;
}
#result{
	height: 100px; color: green; font-size: 22px;
}

